.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}
.loaded-cars{
    text-align: center;
    border: 1px solid lightgray
}
.car-container{
    /* background-color: rgb(1, 1, 44);
    color: white; */
    text-align: center;
    
}
.cars-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* adding breakpoint for MObile phone: */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .shop-container{
        display: grid;
        grid-template-columns:3fr;
        grid-gap: 10px;
    }


    .cars-container{
        display: grid;
        grid-template-columns:3fr ;
    }
      
    }
.cart {
    width: 350px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    
  }
  .table{
      width: 100%;
      height: 300px;
  }
  .table ,tr,th{
      border: 1px solid gray;
      text-align: center;
      border-collapse: collapse;
      background-color: rgb(37, 3, 70);
      color: white;
  }
.buyNow{
      text-align: center;
      margin-top: 10px;
  }
  .btn-buy{
      background-color:goldenrod;
      border-radius: 10px;
      border: 1px solid grey;
      padding: 8px;
  }