.header-section{
    /* display: flex; */
    background-color: rgb(1, 1, 44);
    line-height: 20%;
    color: white;
}
.header-section img{
    width: 50%;
    height: 250px;
}
.header{
    text-align: center;
    padding: 10px;
    
}
//breakpoint for mobile phone:

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .header{
        font-size: 10px;
    }
    .header-section img{
        width: 50%;
        height: 200px;
    }

    }

